/* 

Styles:		Haiku Pickup Lines

		  □ ◯ □ ◯ □
		□ □ ◯ ◯ ◯ □ □ 
		  □ ◯ □ ◯ □

origin: 	1.0 — 12/13/19
version: 	2.0 — 05/31/24 Update
author: 	Joshua Blankenship
email: 		joshua@blankenship.xyz
website: 	http://blankenship.xyz



/* FOUNDATION */

*, html, body, div, span, object, iframe,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, img, figure, figcaption,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased; 
	font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	outline: none;
	}

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
}

@media(min-width:700px) {
    html {
        font-size: 16px
    }
}

@media(min-width:1200px) {
    html {
        font-size: 17px
    }
}

@media(min-width:1400px) {
    html {
        font-size: 18px
    }
}

body {
	background-color: snow;
	color: #222;
	line-height: 1.5;
}

span.logo {
	text-align: center;
}

header {
	background-color: #D00715;
	margin: 0 auto 3rem;
	padding: 0;
}

/* TYPOGRAPHY */

h1 {
	color: #222;
	font: 700 4rem/4rem "neue-haas-grotesk-display", sans-serif;
}


nav ul li, 
h6 { font: 700 1rem/1rem "neue-haas-grotesk-display", sans-serif; }

p {
  	font: 400 1.5rem/2rem "eb-garamond", serif;
  	white-space: pre;
	margin-bottom: 2rem;
}

footer {
	margin: 0;
	padding: 0;
}

section {
	margin: 5rem auto;
}



/* WEE SCREENS */

@media (min-width: 801px) and (max-width: 1000px) {  }

@media (min-width: 100px) and (max-width: 800px) {

	}
